name: On release build and attach artifacts

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    uses: TerraDharitri/drt-sc-actions/.github/workflows/reproducible-build.yml@v0.1.9
    with:
      image_tag: v7.0.0
      attach_to_existing_release: true
