[package]
name = "dcdt-system-sc-mock-wasm"
version = "0.0.0"
authors = ["contact@dharitri.org"]
edition = "2018"
publish = false

[lib]
crate-type = ["cdylib"]

[profile.release]
codegen-units = 1
opt-level = "z"
lto = true
debug = false
panic = "abort"

[dependencies.dcdt-system-sc-mock]
path = ".."

[dependencies.numbat-wasm-node]
version = "0.29.2"
path = "../../../../numbat-wasm-node"

[dependencies.numbat-wasm-output]
version = "0.29.2"
path = "../../../../numbat-wasm-output"
features = ["wasm-output-mode"]

[workspace]
members = ["."]
