[package]
name = "formatted-message-features-wasm"
version = "0.0.0"
authors = ["contact@dharitri.org"]
edition = "2021"
publish = false

[lib]
crate-type = [ "cdylib",]

[workspace]
members = [ ".",]

[dev-dependencies]

[profile.release]
codegen-units = 1
opt-level = "z"
lto = true
debug = false
panic = "abort"

[dependencies.formatted-message-features]
path = ".."

[dependencies.dharitri-sc-wasm-adapter]
version = "1.2.0"
path = "../../../../framework/wasm-adapter"
