name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  checks: write
  pull-requests: write

jobs:
  contracts:
    name: Contracts
    uses: TerraDharitri/drt-sc-actions/.github/workflows/contracts.yml@v0.1.6-1
    with:
      rust-toolchain: nightly-2023-12-11
      vmtools-version: v1.5.19
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
