[package]
name = "token-release-wasm"
version = "0.0.1"
authors = ["contact@dharitri.org"]
edition = "2021"
publish = false

[lib]
crate-type = [ "cdylib",]

[workspace]

[profile.release]
codegen-units = 1
opt-level = "z"
lto = true
debug = false
panic = "abort"

[dependencies.token-release]
path = ".."

[dependencies.dharitri-sc-wasm-adapter]
version = "1.4.10"
path = "../../../../framework/wasm-adapter"
