name: On pull request, build contracts

on:
  pull_request:

permissions:
  contents: write

jobs:
  build:
    uses: TerraDharitri/drt-sc-actions/.github/workflows/reproducible-build.yml@v0.1.9
    with:
      image_tag: v7.0.0
      package_whole_project_src: true