[package]
name = "attestation-wasm"
version = "0.0.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[profile.release]
codegen-units = 1
opt-level = "z"
lto = true
debug = false
panic = "abort"

[dependencies.attestation]
path = ".."

[dependencies.dharitri-sc-wasm-adapter]     
version = "1.6.2"

# [dependencies.dharitri-sc-wasm-adapter]
# path = "/home/dugong/Documents/my_works-main/rs-sdks/drt-rs-sdk-0.45.1/framework/wasm-adapter"

[workspace]
members = ["."]
